body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 50px;
    background: #f4f7fb;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

h2 {
    font-weight: normal;
}

p {
    font-size: 18px;
    max-width: 700px;
    margin: 20px auto;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px auto;
    padding: 15px;
    max-width: 400px;
    border-radius: 8px;
}
button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}
